// Colors.
$color-white: #fff;
$color-black: #000;
$color-blue: #006CB6;
$color-gray: #747B82;
$color-blue-gray: #4f7692;
$color-green: #6EC829;

// Colors Array.
$colors: (
    white $color-white,
    black $color-black,
    blue $color-blue,
    gray $color-gray,
    blue-gray $color-blue-gray,
    green $color-green
);

// Transition Speeds
$transition-speed-very-fast: 150ms;
$transition-speed-fast: 200ms;
$transition-speed-normal: 300ms;
$transition-speed-slow: 500ms;
$transition-speed-very-slow: 700ms;
$transition-speed-ultra-slow: 1000ms;

//
// Foundation settings
//
$header-font-color: $color-blue-gray;
$body-bg: $color-white;
$body-font-color: $color-gray;
$body-font-family: 'Droid Sans';

$primary-color: $color-blue;
$secondary-color: $color-blue-gray;

$fi-path: "/fonts";
