---
title: About Us
basePath: ../
---

<div class="full-width color-blue-gray-bg">
    <div class="row color-white-text margin-top-4x">
        <div class="small-12 medium-10 medium-offset-1 large-12 large-offset-0 end columns small-padding-top-5x medium-padding-top-8x medium-padding-bottom-8x large-padding-top-4x large-padding-bottom-4x">
            <h1 class="color-white-text">About Us</h1>
            <p>QuantumLeap Wealth Management is a comprehensive wealth management firm. Our primary services offered are investment management and retirement planning. Our total compensations are derived solely from client management fees and services rendered.</p>
            <p>We develop globally diversified portfolios for each of our clients using a combination of equities, low cost and tax-efficient index funds, mutual funds, and ETFs. The driving forces behind our investment strategy are discipline, tax-efficiency, competitive returns, diversification and protection of principle. Portfolios are managed to adapt to changing economic conditions, tax considerations, cash-flow needs and the client's personal situation.</p>
            <p>Investment execution only takes place after we have clearly defined a client's objectives and have placed them on a path to realize those goals.</p>

            <blockquote>
                <h5 class="color-white-text">A note from Thipp Ratsaboutseua, President:</h5>
                <p class="color-white-text"><em>
                "I have learned that wisdom comes from experience and experience is gathered
                over time. Over the last 15 years, I have seen and worked with most of the
                technical issues people face in developing investment plans. But most
                importantly, I have been part of our clients' lives. I have seen the joys and
                challenges of wealth. I have experienced births and deaths, nursing homes,
                divorces, retirements and layoffs. I have witnessed the best and worst of
                families, the ups and downs of the stock markets, the round trips, the comings
                and goings of trends and fads. I have seen goals achieved and opportunities
                created that no one thought existed. I have seen good and bad investments, some
                I experienced first hand. Through all of this, I have learned the importance of
                being technically strong, disciplined, and trustworthy and to be of
                uncompromising integrity. I am proud to have formed, and to be part of, a firm
                which has these principles at its core."
                </em></p>
            </blockquote>
        </div>
    </div>
</div>
