---
title: Foo
---
<div class="full-width color-blue-bg">
    <div class="row color-white-text margin-top-4x">
        <div class="small-12 medium-8 columns small-padding-top-5x">
            <h1 class="color-white-text">Foo</h1>
            <p>Foo.</p>
        </div>
    </div>
</div>
