---
title: Wealth Management Services
basePath: ./
---

<div class="full-width bg-fill splash">
    <div class="row color-white-text margin-top-4x">
        <div class="small-12 medium-10 medium-offset-1 large-12 large-offset-0 end columns small-padding-top-5x medium-padding-top-8x medium-padding-bottom-8x large-padding-top-4x large-padding-bottom-4x">
            <h1 class="color-white-text">Wealth Management Services</h1>
            <p>We are firmly grounded in foundational values, and intensely focused on each client's well being. QWM has been redefining partnership for years. We will show by our actions that we are committed to building high levels of good will with our clients.</p>
            <p>We help people help themselves succeed in achieving their life goals by establishing trusted, long-term relationships. We provide a process by which one strives to systematically build and manage wealth, over time, in order to have more income for life and a legacy desired.</p>
            <!--
I have learned that wisdom comes from experience and experience is gathered
overtime. Over the last 15 years, I have seen and worked with most of the
technical issues people face in developing investment plans.  But most
importantly, I have been part of our clients' lives.  I have seen the joys and
challenges of wealth.  I have experienced births and deaths, nursing homes,
divorces, retirement and layoffs.  I have witnessed the best and worst of
families, the ups and downs of the stock markets, the round trips, the comings
and goings of trends and fads.  I have seen goals set achieved and opportunities
created that no one thought existed.  I have seen good and bad investments some
I experienced first hand.  Through all of this, I have learned the importance of
being technically strong,  disciplined, and trustworthy and to be of
uncompromising  integrity.  I am proud to have formed, and be part of a firm,
which has these principles at its core.
            -->
        </div>
    </div>
</div>
