---
title: Home
---
<img src="/images/dwn-arrow.png" id="dwn-arrow" class="fade show-for-small" />

<div class="show-for-small row" id="hero">
    <div class="small-12 columns end">
        <div class="type-eyebrow text-center color-gray-text margin-top-9x margin-bottom-12x">
            Foo Foo Foo
        </div>

        <a href="tel:3141234567" class="button round full-width"><i class="fi-telephone"></i>&nbsp;&nbsp;Call Us</a>
    </div>
</div>

<div class="full-width slide-height medium-margin-top-4x bg-fill" style="background-color: #000077;">
    <div class="slide-height">
        <div class="row small-padding-top-10x medium-padding-top-20x">
            <div class="small-12 columns">
                Foo Foo Foo
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 medium-8 columns small-padding-top-5x">
        <h1 class="small-margin-bottom-2x medium-margin-bottom-0x">Foo</h1>
        <p>
            Foo.
        </p>
    </div>
    <div class="hide-for-small medium-4 columns medium-padding-top-5x">
        <h3>Foo</h3>
        <ul>
            <li>Foo</li>
        </ul>
    </div>
</div>
